<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>MecaChads</title>
        <meta charset="utf-8">
        <meta name="description" content="Agendamento de serviços automotivos.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <span>Meca</span><span>Chads</span>
        </header>
        <main>
            <section class="cover">
                <!--Capa do MecaChads-->
            </section>
            <section class="limite-conteudo">
                <h2>O QUE É “MECACHADS”?</h2>
                <p>MecaChads é uma startup que tem como objetivo simplificar a busca por serviços automotivos, conectando prestadores e clientes de forma prática e eficiente.</p>
                <h3>COMO FUNCIONA?</h3>
                <ol>
                    <li>Selecione o SERVIÇO (Ex.: Troca de Óleo)</li>
                    <li>Selecione a OFICINA</li>
                    <li>AGENDE A VISITA!</li>
                </ol>
            </section>
            <section class="figma">
                <!--Cover do site Figma-->
            </section>
            <section class="figma-conteudo">
                <p>Falta pouco, mas a plataforma MecaChads ainda está em desenvonvimento</p>
                <P>Enquanto ela não sai, dê uma olhada em nosso protótipo!</P>
                <a href="https://www.figma.com/design/jtl29k9L4lhWGoFIRQDGZP/Mecachads?node-id=0-1&node-type=canvas&t=ekYQAERKjJucZwus-0" target="_blank">Protótipo</a>
            </section>
            <section class="socios">
                <!--Foto dos Sócios-->
            </section>
            <section class="limite-conteudo">
                <h2>Fundadores</h2>
                <p>MecaChads é uma iniciativa de 3 estudantes da Universidade Católica de Brasília (UCB): Efraim Costa, Bruno Braga e Pedro Sérgio.</p>
                <p>JUNTOS, combinando habilidades de desenvolvimento, comunicação e liderança, eles trabalham duro para levar o negócio ao SUCESSO!</p>
            </section>
        </main>
        <footer>
            <p>Designed by MecaChads</p>
        </footer>
    </body>
</html>