<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>MecaChads</title>
        <meta charset="utf-8">
        <meta name="description" content="Agendamento de serviços automotivos.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <span>Meca</span><span>Chads</span>
        </header>
        <main>
            <section class="cover">
                <!--Capa do MecaChads-->
            </section>
            <section class="limite-conteudo">
                <h2>O que é MecaChads?</h2>
                <p>A MecaChads é uma startup que tem como objetivo simplificar a busca por serviços automotivos, conectando clientes a provedores de forma prática e eficiente.</p>
            </section>
        </main>
        <footer>
            <p>Designed by MecaChads</p>
        </footer>
    </body>
</html>